h1 {
	font-family: sans-serif;
	color: gray;
}

div {
	text-align: center;
}

body, ul {
	text-align: center;
	font-family: sans-serif;
}

ul {
	list-style: none;
	display: inline;
}

h4 {

}

div img {
	opacity: 0.7;
	width: 900px;
	height: 200px;
	text-align: center;
}

img {
	width: 200px;
	height: 150px;
}